In [1]:
import os
import pandas as pd
import numpy as np
from collections import defaultdict 
import sys
import matplotlib.pyplot as plt
from tabulate import tabulate
import threading

In [2]:
addr_l = [
    510, 511, 526,
           600, 602, 605, 620,
       623, 625, 631, 641, 648, 657
         ]
sets = [x for x in range(64)]

In [3]:
print(addr_l, sets)

[510, 511, 526, 600, 602, 605, 620, 623, 625, 631, 641, 648, 657] [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63]

In [4]:
for addr in addr_l:
    for cset in sets:
        ADDR = '/nfs_home/nbhardwaj/data/rds_final/'+str(addr)+'_'+str(cset)+'.csv'
        if not os.path.isfile(ADDR):
            print(addr, cset)

In [7]:
addr = '/nfs_home/nbhardwaj/data/rds_final/648_20.csv'

In [8]:
df = pd.read_csv(addr, index_col = [0])

In [9]:
# df['inst'] = df.Instruction.apply(lambda x:int(x,16))
# df['dt'] = df.Data.apply(lambda x:int(x, 16))
# df['set'] = df.Data.apply(lambda x: int((bin(int(x, 16))[2:].zfill(64))[-12:-6], 2))
# df['dt2'] = df.dt//64
# df['dat_bin'] = df.dt.apply(lambda x: bin(x)[2:])
# df['dt2_bin'] = df.dt2.apply(lambda x: bin(x)[2:])

In [10]:
df

,ICount,Instruction,Data,Mode,set,rd,delta,label
0,215040441914,94747805802134,1480434499668,R,20,1,NaN,0
1,215040441919,94747805802156,1480434499668,R,20,1,0,0
2,215040455380,94747805802134,1480434499668,R,20,1,0,0
3,215040455385,94747805802156,1480434499668,R,20,1,0,0
4,215040463086,94747805802134,1480434499668,R,20,1,0,0
5,215040463091,94747805802156,1480434499668,R,20,1,0,0
6,215040474218,94747805802134,1480434499668,R,20,1,0,0
7,215040474223,94747805802156,1480434499668,R,20,1,0,0
8,215040480014,94747805809104,1480434499668,R,20,1,0,0
9,215040480038,94747805809216,1480434499668,R,20,1,0,0
10,215040480106,94747805802134,1480434499668,R,20,1,0,0
11,215040480111,94747805802156,1480434499668,R,20,1,0,0
12,215040481490,94747805802134,1480434499668,R,20,1,0,0
13,215040481495,94747805802156,1480434499668,R,20,1,0,0
14,215040484634,94747805809104,1480434499668,R,20,1,0,0
15,215040484658,94747805809216,1480434499668,R,20,1,0,0
16,215040484726,94747805802134,1480434499668,R,20,1,0,0
17,215040484731,94747805802156,1480434499668,R,20,1,0,0
18,215040486110,94747805802134,1480434499668,R,20,1,0,0
19,215040486115,94747805802156,1480434499668,R,20,1,0,0
20,215040488093,94747805802134,1480434499668,R,20,1,0,0
21,215040488098,94747805802156,1480434499668,R,20,1,0,0
22,215040491542,94747805809104,1480434499668,R,20,1,0,0
23,215040494099,94747805809104,1480434499668,R,20,1,0,0
24,215040494123,94747805809216,1480434499668,R,20,1,0,0
25,215040494191,94747805802134,1480434499668,R,20,1,0,0
26,215040494196,94747805802156,1480434499668,R,20,1,0,0
27,215040495575,94747805802134,1480434499668,R,20,1,0,0
28,215040495580,94747805802156,1480434499668,R,20,1,0,0
29,215040498719,94747805809104,1480434499668,R,20,1,0,0
...,...,...,...,...,...,...,...,...
526671,216040390041,94747805802134,1480434499668,R,20,1,0,0
526672,216040390046,94747805802156,1480434499668,R,20,1,0,0
526673,216040390901,94747805802134,1480434499668,R,20,1,0,0
526674,216040390906,94747805802156,1480434499668,R,20,1,0,0
526675,216040394680,94747805802134,1480434499668,R,20,1,0,0
526676,216040394685,94747805802156,1480434499668,R,20,1,0,0
526677,216040398031,94747805802134,1480434499668,R,20,1,0,0
526678,216040398036,94747805802156,1480434499668,R,20,1,0,0
526679,216040401949,94747805802134,1480434499668,R,20,1,0,0
526680,216040401954,94747805802156,1480434499668,R,20,1,0,0
526681,216040409312,94747805802134,1480434499668,R,20,1,0,0
526682,216040409317,94747805802156,1480434499668,R,20,1,0,0
526683,216040416147,94747805809104,1480434499668,R,20,1,0,0
526684,216040416165,94747805809216,1480434499668,R,20,1,0,0
526685,216040416233,94747805802134,1480434499668,R,20,1,0,0
526686,216040416238,94747805802156,1480434499668,R,20,1,0,0
526687,216040417780,94747805802134,1480434499668,R,20,1,0,0
526688,216040417785,94747805802156,1480434499668,R,20,1,0,0
526689,216040418664,94747805802134,1480434499668,R,20,1,0,0
526690,216040418669,94747805802156,1480434499668,R,20,1,0,0
526691,216040425359,94747805809104,1480434499668,R,20,1,0,0
526692,216040425386,94747805809216,1480434499668,R,20,1,0,0
526693,216040425454,94747805802134,1480434499668,R,20,1,0,0
526694,216040425459,94747805802156,1480434499668,R,20,1,0,0
526695,216040426598,94747805802134,1480434499668,R,20,1,0,0
526696,216040426603,94747805802156,1480434499668,R,20,1,0,0
526697,216040428202,94747805802134,1480434499668,R,20,1,0,0
526698,216040428207,94747805802156,1480434499668,R,20,1,0,0
526699,216040432589,94747805802134,1480434499668,R,20,1,0,0
526700,216040432594,94747805802156,1480434499668,R,20,65,0,7

In [ ]:
plt.scatter([x for x in range(len(df))], df.rd.values)

In [32]:
bin(10)[2:]

'1010'